
.ttc {
  width: 120px;
}

.ttc .route {
  margin: 0 10px;
  text-align: center;
}

.ttc .route .number {
  font-size: 90px;
  font-weight: 100;
  line-height: 0.70;
}

.ttc .route .direction {
  width: 40px;
  margin-top: 10px;
}

.ttc .route .direction .title {
  font-size: 40px;
  font-weight: 100;
}

.ttc .route .direction .departure {
  display: inline-block;
  border-bottom: 1px solid rgba( 235, 235, 235, 0.65 );
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 10px;
  padding: 2px;
}

.ttc .route .departure.danger {
  border-bottom: 1px solid rgba( 235, 60, 60, 0.65 );
  color: rgba( 235, 60, 60, 1.0 );
}

.ttc .route .departure.missed {
  border-bottom: 1px solid rgba( 120, 120, 120, 0.65 );
  color: rgba( 120, 120, 120, 1.0 );
}

.ttc .route .departure.warning {
  border-bottom: 1px solid rgba( 255, 215, 40, 0.65 );
  color: rgba( 255, 215, 40, 1.0 );
}

.ttc .route .eastbound {
  text-align: left;
}

.ttc .route .westbound {
  text-align: right;
}
