
.weather .tick {
  fill: #d0f0ff;
}

.weather .tick text {
  font-size: 16px;
}

.weather .area {
  fill: #d0f0ff;
  stroke: none;
  stroke-width: 1;
}
.weather .line {
  fill: none;
  stroke: #a0ffc0;
  stroke-width: 2;
}

.weather .y.axis line {
  fill: none;
  opacity: 0.6;
  stroke: #d0f0ff;
  stroke-dasharray: 1, 1;
  stroke-width: 1;
}
