
.weather {
  width: 120px;
}

.weather .display {
  margin: 0 10px;
  text-align: center;
}

.weather .icon {
  font-size: 85px;
  margin-bottom: 15px;
}

.weather .description {
  font-size: 20px;
  font-weight: 200;
  margin: 10px 0;
}

.weather .temperature {
  width: 100%;
  font-size: 54px;
  font-weight: 200;
  line-height: 0.9;
}

.weather .temp {
  width: 40px;
  margin: 10px 0 0 0;
}

.weather .temp.low {
  text-align: center;
}

.weather .temp.high {
  text-align: center;
}

.weather .temp .title {
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.weather .temp .value {
  font-size: 22px;
  font-weight: 100;
}

.weather .extreme {
  color: rgba( 235, 60, 60, 1.0 ) !important;
}
