
.clock {
  margin: 20px;
  padding: 10px 6px;
  text-align: right;
}

.clock .time {
  font-size: 120px;
  font-weight: 100;
  line-height: 0.75;
}

.clock .weekday {
  font-size: 40px;
  font-weight: 200;
  margin: 20px 5px 5px 5px;
}

.clock .date {
  font-size: 40px;
  font-weight: 200;
  margin: 5px 5px 0 10px;
}
