
.weatherForecast {
  margin: 10px;
}

.weatherForecast .area.precipitation {
  fill: rgba( 255, 255, 255, 0.5 );
}

.weatherForecast .area.temperature {
  fill: rgba( 255, 255, 255, 0.25 );
}

.weatherForecast .line.temperature {
  fill: none;
  stroke: rgba( 255, 255, 255, 1.0 );
  stroke-width: 1.5;
}

.weatherForecast .x.axis line {
  fill: none;
  stroke: rgba( 255, 255, 255, 0.5 );
  stroke-width: 0.5;
}

.weatherForecast .label {
  stroke-width: 0.5;
}
