/*                         */
/* Base Application Styles */
/*                         */

body {
  background-color: #000000;
  color: #ffffff;
  fill: #ffffff;
  font: 12px sans-serif;
  stroke: none;
  stoke-width: 1px;
}

.clearfix {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}
