/*                         */
/* Base Application Styles */
/*                         */

body {
  background-color: #000000;
  color: #ffffff;
  fill: #ffffff;
  font-family: "Work Sans";
  font-size: 12px;
  font-weight: 300;
  stroke: none;
  stoke-width: 1px;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.main-column {
  width: 400px;
}
